<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/show.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <a class="edit" href="/pokemon/<%= index %>/edit">Edit</a>
    <div class="container">
      <h1><%= character.name %></h1>

      <div class="card">
        <div class="img-con">
          <img
            class="img-character"
            src="<%= character.img %>"
            alt="<%= character.name %>"
          />
        </div>
        <div class="character-desc-con">
          <h3><span class="desc-keys">Type:</span> <%= type %></h3>
          <p><span class="desc-keys">HP:</span><%= character.stats.hp %></p>
          <p>
            <span class="desc-keys">Attack:</span><%= character.stats.attack %>
          </p>
          <p>
            <span class="desc-keys">Defense:</span><%= character.stats.defense
            %>
          </p>
          <p>
            <span class="desc-keys">Spattack:</span><%= character.stats.spattack
            %>
          </p>
          <p>
            <span class="desc-keys">Spdefense:</span><%=
            character.stats.spdefense %>
          </p>
          <p>
            <span class="desc-keys">Speed:</span><%= character.stats.speed %>
          </p>
        </div>
      </div>
    </div>
    <form action="/pokemon/<%= index %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form>
  </body>
</html>
